@keyframes slide-in-bottom {
  from {
    transform: translate(0%, 110%);
  }
  to {
    transform: translate(0%, 0);
  }
}

.slide-in-bottom {
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-name: slide-in-bottom;
}
/* 
.slide-in-bottom {
  animation-name: slide-in-bottom;
} */
